<!DOCTYPE html>
<html>
<head>
    <title>XProgramming.com</title>
    <link rel="stylesheet" href="/css/xprog.css">
</head>
<body>
    <header>
        <h1>XProgramming.com</h1>
    </header>
    <nav>
        <ul>
            <li>who</li>
            <li>what</li>
            <li>where</li>
            <li>why? because we like you.</li>
        </ul>
    </nav>
    <section id="favorites"> 
        <h1>Favorites</h1>
            <% @favorites.each do |s| %>
                <h2><img src="<%= s.icon %>" /> <%= s.category %></h2>  <!-- needs link -->
                <a href="<%= s.link %>">
                    <article class="favorite-slug">
                        <h1><%= s.title %></h1>
                        <%= s.precis %>
                    </article>
                </a>
            <% end %>
        </section>

    <section id="recents"> 
        <h1>Recent Articles</h1>
        <ul>
        <% @the_rest.each do |s| %>
            <li>
                <article class='recent-slug'>
                    <h2><%= s.title%></h2>
                    <footer>
                        <p><img src="<%= s.icon%>" /> (<%=s.category%>) and date</p>
                    </footer>
                    <%= s.precis %>
                </article>
            </li>
        <% end %>
        </ul>
    </section>

    <footer>
        <p>The footer</p>
    </footer>

</body>
</html>